<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration 
    PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd"> 
<configuration> 
	<!-- http://www.mybatis.org/mybatis-3/configuration.html#settings 참고 --> 
	<settings> 
		<!-- 결과 값이 null일 경우 result에 null로 할 것인가 -->
		<setting name="callSettersOnNulls" value="true" /> 
		<!-- null parameter 허용 --> 
		<setting name="jdbcTypeForNull" value="NULL" /> 
	</settings>

	<typeAliases>
		<typeAlias alias="MemberDTO" type="com.ddol.jwtd9.member.model.dto.MemberDTO"/>
		<typeAlias alias="ProductDTO" type="com.ddol.jwtd9.product.model.dto.ProductDTO"/>
	</typeAliases>

	<mappers>
		<mapper resource="MemberMapper.xml" />
		<mapper resource="ProductMapper.xml" />
	</mappers>
</configuration>